input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
.error {
  color: red;
}
.csutomCssProperty {
  border: 1px solid #dfd0d0;
  border-radius: 5px;
  width: 100%;
}
