<div class="row">
    <div class="col-xs-12">
        <form #shoppingListForm="ngForm" (ngSubmit)="onSubmit(shoppingListForm)">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" #nameInput="ngModel" ngModel required
                        pattern="^[a-zA-Z \-\']+" minlength="5">
                    <!-- Error Message-->
                    <div class="error" *ngIf="nameInput.errors?.required && (nameInput.touched || nameInput.dirty)">
                        This field is required
                    </div>
                    <div class="error" *ngIf="nameInput?.errors?.pattern && (nameInput.touched || nameInput.dirty)">
                        Only letters are allowed
                    </div>
                    <div class="error" *ngIf="nameInput.errors?.minlength && (nameInput.touched || nameInput.dirty)">
                        Name must be at least 5 characters long.
                    </div>
                    <!-- Error Message-->
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" class="form-control" name="amount" #amountInput="ngModel" ngModel
                        required pattern="^(|\+?[1-9]\d*)$">
                    <!-- Error Message-->
                    <div class="error"
                        *ngIf="amountInput.errors?.required && (amountInput.touched || amountInput.dirty)">
                        This field is required
                    </div>
                    <div class="error"
                        *ngIf="amountInput.errors?.pattern && (amountInput.touched || amountInput.dirty)">
                        Only positive numbers are allowed
                    </div>
                    <!-- Error Message-->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success" style="margin-right: 10px;"
                        [disabled]="!shoppingListForm.valid">{{(editMode === true) ?'Update' :'Add'}}</button>
                    <button type="button" class="btn btn-danger" style="margin-right: 10px;"
                        (click)="onDelete()">Delete</button>
                    <button type="button" class="btn btn-primary" (click)="onClear()">Clear</button>
                </div>

            </div>
        </form>
    </div>
</div>
<!-- <pre>{{ nameInput.minLength| json }}</pre> -->